<div class="modal loginModalBackground" [ngClass]="{'show':showSignUp}"
  [ngStyle]="{ 'display': showSignUp ? 'block' : 'none' }">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content modalBorder">
      <div class="modal-header row border-bottom w-100 border-secondary" style="text-align: center;">
        <h3 class="col-11 text-light" style="text-align: center;">
          Create your Carflex account
        </h3>
        <a href="" class="col-1 text-decoration-none" style="color: red; font-size: 50px;"
          (click)="navigateToLogin()">×</a>
      </div>

      <form [formGroup]="signUp" (ngSubmit)="onSubmit()">
        <div class="modal-body text-light" [formGroup]="signUp">
          <div class="row form-group">
            <div class="col-lg-6">
              <label for="username" type="text" class="form-label ms-2">User Name</label>
              <input type="text" class="form-control inputWidth bg-secondary border-secondary text-dark ms-2"
                formControlName="username" placeholder="Enter Your required User Name">
              <div class="text-danger ms-2" *ngIf="signUp.get('username')?.touched && signUp.get('username')?.invalid">
                <small *ngIf="signUp.get('username')?.hasError('required')">Username is required</small>
                <small *ngIf="signUp.get('username')?.hasError('minlength')">Minimum of 3 characters required</small>
              </div>
            </div>

            <div class="col-lg-6">
              <label for="password" type="Password" class="form-label ms-2">Password</label>
              <input type="password" class="form-control inputWidth bg-secondary border-secondary text-dark ms-2"
                formControlName="password" placeholder="Enter Password">
              <div class="text-danger ms-2" *ngIf="signUp.get('password')?.touched && signUp.get('password')?.invalid">
                <small *ngIf="signUp.get('password')?.hasError('required')">Password is required</small>
                <small *ngIf="signUp.get('password')?.hasError('minlength')">Minimum of 3 characters required</small>
              </div>
            </div>
          </div>

          <div class="row form-group mt-4">
            <div class="col-lg-6">
              <label for="pNumber" type="text" class="form-label col-6 ms-2">Mobile Number</label>
              <input type="number" class="col-6 form-control inputWidth bg-secondary border-secondary text-dark ms-2"
                formControlName="pNumber" placeholder="Enter Your Phone Number">
              <div class="text-danger ms-2" *ngIf="signUp.get('pNumber')?.touched && signUp.get('pNumber')?.invalid">
                <small *ngIf="signUp.get('pNumber')?.hasError('required')">Phone number is required</small>
                <small *ngIf="signUp.get('pNumber')?.hasError('invalidPhoneNumber')">Phone number must have 10 digits
                  only</small>
              </div>
            </div>

            <div class="col-lg-6">
              <label for="signGmail" type="text" class="form-label col-6 ms-2">Gmail</label>
              <input type="gmail" class="col-6 form-control inputWidth bg-secondary border-secondary text-dark ms-2"
                formControlName="signGmail" placeholder="Enter Your Gmail">
              <div class="text-danger ms-2"
                *ngIf="signUp.get('signGmail')?.touched && signUp.get('signGmail')?.invalid">
                <small *ngIf="signUp.get('signGmail')?.hasError('invalidGmail')">Enter a valid Gmail address</small>
              </div>
            </div>
          </div>

          <div class="text-center mt-5">
            <button class="btn btn-success" type="submit"><small>SignUp</small></button>
          </div>

          <!-- Success Message -->
          <div class="text-center mt-3 text-success" *ngIf="successMessage">
            {{ successMessage }} -> Please <a (click)="navigateToLoginComponent()"
              class="text-danger login text-decoration-none">Login</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>